
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Unauthorized User - Give Aid</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/Templates/Error/style.css" />

</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>:(</h1>
            </div>
            <h2>401 - Unauthorize</h2>
            <p>Oops! You're not allowed to view this page, you're unauthorized for this action</p>
            <a href="/">Back to Home</a>
        </div>
    </div>

</body>

</html>


